<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header"> </head>

<body>

    <div id="wrapper">

  <div th:replace="fragments/menu :: menu"> </div>
  

        <div id="page-wrapper">

            			<br> <br>
			<div class="row">
							<div class="col-lg-3 col-sm-3">
			</div>
				<div class="col-lg-8 col-sm-8">

				<h2  style="color: red;">معرفات الدخول لمنظومة الانتخاب </h2> 	
												
								</div>
			<div class="col-lg-1 col-sm-1">
						
					<button class="btn btn-primary" id='btn' onclick="printFunc();">طباعة</button>

				</div>
			</div>
			<br>
              <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table  table-bordered table-hover" id="dataTables-example"  dir="rtl">
                      <thead>
                    <tr>
                        <th>رقم  </th>
                        <th>معرف الدخول</th>
						<th>كلمة السر</th>
						<th>قام بالانتخاب</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="voter,stat: ${voters}" class=""  th:classappend="${voter.etat}=='1' ? success ">
						<td  th:text="${stat.index}+1"> </td>
						<td th:text="${voter.login}"> </td> 
						<td  th:text="${voter.password}"> </td>
						<td th:if="${voter.etat}=='0' "> لا</td>
						<td th:if="${voter.etat}=='5' or  ${voter.etat}=='1'"> قام بالانتخاب </td>
						<td th:if="${voter.etat}=='2' "> مرحلة انتخاب فتيان </td>
						<td th:if="${voter.etat}=='3' "> مرحلة انتخاب الفتيات </td>
						
                    </tr>
                    
                    </tbody>
                    </table>

                                        </div>
                                        </div>
                                        </div>
                                        
                     </div>                   
                                        
                                        
              <div class="panel panel-default" style="visibility: hidden">

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table  table-bordered table-hover" id="prpr"  dir="rtl">
                             <thead>
                    <tr>
                        <th> معرفات الدخول للمنظومة</th>
      
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="voter1: ${voters}" class=""  >
						<td>
						<ul dir="ltr">
						<li > url : www.vote-scouts.org </li>
						<li  th:text="'login :'+ ${voter1.login}"> </li>
						<li  th:text="' Password : '+ ${voter1.password}"> </li>
								</ul>
								 </td>

						
                    </tr>
                    
                    </tbody>
                    </table>

                                        </div>
                                        </div>
                                        </div>             
<!-- 					<div class="panel panel-default"> -->


</div>

                     <script>
function printFunc() {
	
    var divToPrint = document.getElementById('prpr');


    var htmlToPrint = '' +
        '<style type="text/css">' +
        'table th, table td {' +
        'border:3px solid black;' +
        'padding;2px;' +      
        'font-size: 22px;' +
        '}' +
        'table {' +
        'margin-left: auto;'+
        'margin-right: auto;'+
        ' width: 50%;'+
        'text-align: centre;'+
        '}' +
        '</style>';
    htmlToPrint += divToPrint.outerHTML;
    newWin = window.open("");
//     newWin.document.write("<h3 align='center'>معرفات الدخول للمنظومة الانتخابية</h3>");
   newWin.document.write(htmlToPrint);

    
    newWin.print();
    newWin.close();
    
    
    }
</script>

           
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="js/jquery/jquery.dataTables.min.js"></script>
    <script src="js/bootstrap/dataTables.bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>        
       $(document).ready(function() {
    	    $('#dataTables-example').DataTable( {
    	   	paging: false
    	      } );
    	    } );
    </script>

</body>

</html>
